@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.custom-radial-gradient {
  background: radial-gradient(
      circle at bottom left,
      #7ee9b04d,
      #bff5d94d,
      transparent 28%
    ),
    radial-gradient(circle at top right, #aee5ffb8, #d8f4ffb8, transparent 28%);
}

.color-gradient {
  background: linear-gradient(90deg, #33a9c7, #3aab95);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.InputPrimary {
  appearance: none;
  border: 4px solid #02a09b;
  border-radius: 50%;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  outline: none;
  position: relative;
  background-color: #fff;
  transition: background-color 0.3s ease;
}


.InputPrimaryChecked {
  appearance: none;
  border: 2px solid #02A09B;
  border-radius: 20%;
  width: 18px;
  height: 18px;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.InputPrimaryChecked:checked {
  border-color: #02A09B;
}
.InputPrimaryChecked:hover{
  background-color: #D9D9D9;
}

.InputPrimaryChecked:checked::before {
  content: '\2714';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 14px;
  color: #02A09B
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Alexandria", "Tajawal", sans-serif !important;
}
